@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
  }